# console

# console.log
snippet conl
	console.log(${1})${0}
# console.error
snippet cone
	console.error(${1})${0}
# console.warn
snippet conw
	console.warn(${1})${0}
# console.debug
snippet cond
	console.debug(${1})${0}
# console.info
snippet coni
	console.info(${1})${0}
